<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruit1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,290},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,362},{70,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,382},{70,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,310},{70,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,238},{70,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,238},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,166},{70,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,166},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,94},{70,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,310},{70,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,94},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,380},{70,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fruit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{346,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,15}}</string>
                <key>sourceSize</key>
                <string>{346,15}</string>
            </dict>
            <key>timer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,35}}</string>
                <key>sourceSize</key>
                <string>{442,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fruit.png</string>
            <key>size</key>
            <string>{270,451}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2daa5e5fe9e82e3bd956b42ae47cc10:1/1$</string>
            <key>textureFileName</key>
            <string>fruit.png</string>
        </dict>
    </dict>
</plist>
